<div class="card">
  <div class="card-content">
    <div class="box has-background-primary has-text-centered">
      <h3 class="title is-4 has-text-white">Weather Data:</h3>
    </div>
    <form class="box" action="/station/{{station._id}}/addReading" method="POST">
      <div class="field">
        <label class="label">Enter New Reading:</label>
      </div>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <input class="input" type="text" placeholder="Enter weather code" name="code" />
          </div>
          <div class="field">
            <input class="input" type="text" placeholder="Enter temperature" name="temp" />
          </div>
          <div class="field">
            <input class="input" type="text" placeholder="Enter wind Speed" name="windspeed" />
          </div>
          <div class="field">
            <input class="input" type="text" placeholder="Enter wind Direction" name="winddirection" />
          </div>
          <div class="field">
            <input class="input" type="text" placeholder="Enter pressure" name="pressure" />
          </div>
        </div>
      </div>
      <button class="button is-primary">Add Track</button>
    </form>
  </div>
</div>