{{#each stations}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{title}}
    </h2>
    <section class="content">
      <p class="has-text-gray">
        Latitude:
        {{latitude}}
        <br />
        Longitude:
        {{longitude}}
      </p>
    </section>
    <a href="/station/{{_id}}" class="icon has-text-primary">
      <i class="fas fa-folder"></i>
    </a>
  </div>
{{/each}}