{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather Top
  </h3>
  <div class="section">
    <p>
      An App to keep track of your weather - Baseline
    </p>
  </div>
</section>