{{> menu active="about"}}

<section class="section has-background-info">
  <div class="container">
    <h1 class="title is-1 has-text-centered has-text-white">Welcome to Weather Top</h1>
    <p class="subtitle is-4 has-text-centered">
      Your Personal Weather Tracking App
    </p>
    <div class="columns is-vcentered">
      <div class="column is-6">
        <p class="mb-4 has-text-white">
          Weather Top is a powerful and intuitive weather tracking application that allows you to monitor weather conditions in real-time. Whether you're planning a trip, monitoring local weather, or just curious about the forecast, Weather Top has you covered.
        </p>
        <p class="mb-4 has-text-white">
          With a user-friendly interface and a wealth of weather data at your fingertips, Weather Top provides you with up-to-date information on temperature, wind speed, precipitation, and more. Stay informed and make the most of your day with Weather Top!
        </p>
      </div>
      <div class="column is-6">
        <figure class=" ml-6 mt-6">
          <img src="https://i.imgur.com/EBJ6lrF.jpeg" alt="Weather Top App Image">
        </figure>
      </div>
    </div>
  </div>
</section>


